################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EmployeeApplication/bin
/EmployeeApplication/App_Start
/EmployeeApplication/fonts
